@charset "utf-8";

/* CSS Document */

#main {
    overflow: hidden
}

.about_h {
    font-size: 12px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border-bottom: #d7d7d7 1px solid;
    padding-left: 60px;
    margin: 20px;
    background: url(../images/5849.png) 40px 5px no-repeat;
}

.about_h a {
    color: #666;
    margin: 0 5px;
}

.about_h a:hover {
    color: #e41635
}

.about {
    line-height: 22px;
    margin: 20px;
}

.about h2 {
    font-size: 22px;
    font-family: inherit;
    margin: 15px 0 20px;
    color: #524249;
}

.about p {
    margin-bottom: 15px
}

.about ul {
    color: #333
}

a.blog_link {
    color: #0f9c7c;
    margin: 0 20px
}

.avatar {
    margin: 10px auto;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
}

.avatar a {
    display: block;
    padding-top: 100px;
    width: 160px;
    background: url(../images/photos.jpg) no-repeat;
    background-size: 160px 160px;
}

.avatar a span {
    display: block;
    margin-top: 63px;
    padding-top: 8px;
    width: 160px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: margin-top .2s ease-in-out;
    -moz-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
}

.avatar a:hover span {
    display: block;
    margin-top: 0;
}

.topspaceinfo {
    background: #e41635;
    padding: 40px 20px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.topspaceinfo h1 {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}

.about_c {
    margin: 10px 0;
    color: #fff;
    line-height: 22px;
}

.about_c p {
    display: block;
    padding-left: 20px;
    margin-bottom: 5px
}

table,
td, 
th {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    color: #333;
}

.personTable {
    margin-bottom: 15px;
}

.message {
    width: 100%;
    height: 150px;
}

.postmsg form input[type="submit"] {
    margin: 0 auto;
    background-color: #e9edf1;
}

.ph_news {
    margin-top: 20px;
}

.ph_news h2 {
    font-size: 16px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #FFF;
}

.ph_news h2 p {
    height: 40px;
    line-height: 40px;
    width: 100px;
    padding: 0 0 0 30px;
    border-radius: 0 20px 20px 0;
    text-shadow: rgba(0, 0, 0, .65) 1px 1px;
    background: #0f9c7c
}

.ph_news ul {
    margin: 10px
}

.ph_news li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #cdcbcb;
    line-height: 24px;
    height: 24px;
}

.ph_news li a {
    color: #cdcbcb;
}

.ph_news li a:hover,
.pl_n dd a:hover {
    text-decoration: underline
}

.ph_n li span {
    margin-right: 10px;
    font-family: "΢���ź�";
    color: #FFF;
    background: #404040;
    padding: 0 5px
}

.ph_n li span.num1,
.ph_n li span.num2,
.ph_n li span.num3 {
    background: #f16b17
}


/* �������� */

.pl_n dl {
    display: block;
    overflow: hidden;
    margin-bottom: 12px;
    color: #cdcbcb;
}

.pl_n dd {
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.pl_n dd a {
    color: #555454
}

.pl_n time {
    color: #066;
    margin-left: 10px
}

.pl_n dt {
    float: left;
}

.pl_n dt img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 1s
}

.pl_n dt img:hover {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
